@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family:Poppins;
    color: #333;
}

header{
    height: 90vh;
    background-image: url('../images/image1.png');
    background-size: cover;
    background-position: center;
    
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
    color: white;
    text-align: center;
    padding: 40px 0;
}

.Menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-right: 20%;
    padding: 10px 40px;
    background: rgba(128, 128, 128, 0.45); 
    backdrop-filter: blur(6px); 
    z-index: 999;
}
.Menu a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 14px;
}
.menuimg {
    display: flex;
    gap: 12px;
    
}

.menuimg img {
    width: 30px; 
    height: 30px;
    
}

.section-img::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 120px;
    background: white;
    clip-path: polygon(0 0, 100% 40%, 100% 100%, 0% 100%);
}

nav{
    background-color: #404446;
    overflow: hidden;
    opacity: 1.0;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
    background-color: #303437;
    z-index: 1;
}

nav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
nav a:hover{
    background-color:#303437;
    opacity: 0.7;
    border-radius: 12px;
    color: rgb(255, 255, 255);
}
.hero h1{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    
}
.hero p{
    margin-bottom: 20px;
    font-weight: 300px;
    
}
 .Galleryh2{
    color: #ff007b;
}
button{
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 500;
}

section{
    padding: 40px 20px;
    text-align: center;
}

.about p, .route p, .terrain p, .team p{
    max-width: 800px;
    margin: 10px auto;
    line-height: 1.6;       
}
.info-box{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
    
}
.box{
    background-color: #06f;
    color: white;
    padding: 35px 20px;
    width: 180px;
    border-radius: 12px;
    font-weight: 590;
    font-size: 16px;
    text-align: center;
    
}

.gallery .images{
    
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.registration form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    margin: auto;
}

input, form button{
padding: 10px;
border-radius: 12px;
border: 1px solid #ccc;
}

footer{
    background-color: #06f;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: white;
}
header .menuimg{
    margin-left: 550px;
    align-content: center;
    justify-content: center;
    width: 7%;
    height: 3%;
    background-color: transparent;
   
}

div.banner{
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 40%;
    transform:translate(-50%, -50%);
    width: 100%;
    font-size: 19px;
}
div.banner button{
    padding: 9px;
    width: 150px;
    border-radius: 20px;
    background-color:#007bff;    
    color: white;

}

.info{
    display: inline-block0;
    margin-top: 5%;

}

.info img{
    height: 25%;
    width: 25%;
}

.info div{
    display: flex;
}
.about{
    align-items: center;
}
.mapa,
.tierra,
.cielo,
.carrera {
    margin: 30px;
    background: rgba(255, 255, 255, 0.35); 
    backdrop-filter: blur(12px);           
    -webkit-backdrop-filter: blur(12px);
    border-radius: 15px;         
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}




